footer.page-footer
  .container
    .row
      .col.l8.s16
        h5.white-text Footer Content
        p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
      .col.l4.offset-l2.s12
        br  
        include ./media.pug
    
